<!DOCTYPE html>
<html>
    <head>
        <title>Change Detection</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="text-center">Image Classifier</h1>

        <form class="p-3 text-center" action='/cd', method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="prefile" >
            <input class="btn btn-primary mt-3"type="submit" value="Upload PreImage" >
        </form>
        {% if preimage %}
        <p class="text-center">Uploaded Successfully</p>
        {% endif %}
        <form class="p-3 text-center" action='/cd', method="post" enctype="multipart/form-data">
            <input class="form-control" type="file" name="postfile" >
            <input class="btn btn-primary mt-3"type="submit" value="Upload PostImage" >
        </form>
        <form class="p-3 text-center" action='/predict', method="post" enctype="multipart/form-data">
            <input class="btn btn-primary mt-4"type="submit" value="Predict Image" >
        </form>
        {% if postimage %}
        <p class="text-center">Uploaded Successfully</p>
        {% endif %}

        {% if result %}
        <h2>Change Map Prediction:</h2>
        <img src="static\predicted_change_map.png" alt="Predicted Change Map">
        {% endif %}
    </body>
</html>